<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Dairing</span>
      <div>
        <a mat-button routerLink="/" routerLinkActive="active">Home</a>
        <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
        <a mat-button routerLink="/login" routerLinkActive="active">Login</a>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
